PIW_SPAppWeb/Service References/HolidayService/HolidayService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FERC.FOL.HolidayService.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FERC.FOL.HolidayService.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://facfs-elibappt1.ferc.gov/HolidayService/HolidayService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="HolidayResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultOfHolidaystringGYyHrpcm">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HolidayResult" nillable="true" type="tns:HolidayResult" />
  <xs:complexType name="ResultOfHolidaystringGYyHrpcm">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/FERC.FOL.HolidayService.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Holiday" Namespace="http://schemas.datacontract.org/2004/07/FERC.FOL.HolidayService.Common" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="DataList" nillable="true" type="tns:ArrayOfHoliday" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ErrorList" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultOfHolidaystringGYyHrpcm" nillable="true" type="tns:ResultOfHolidaystringGYyHrpcm" />
  <xs:complexType name="ArrayOfHoliday">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Holiday" nillable="true" type="tns:Holiday" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHoliday" nillable="true" type="tns:ArrayOfHoliday" />
  <xs:complexType name="Holiday">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Holiday_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Holiday_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Holiday_id" type="xs:int" />
      <xs:element minOccurs="0" name="Inactive_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NextFileDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Holiday" nillable="true" type="tns:Holiday" />
</xs:schema>