PIW_SPAppWeb/Service References/HolidayService/HolidayService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://facfs-elibappt1.ferc.gov/HolidayService/HolidayService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FERC.FOL.HolidayService.Common" />
  <xs:import schemaLocation="http://facfs-elibappt1.ferc.gov/HolidayService/HolidayService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetHolidays">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHolidaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FERC.FOL.HolidayService.Common" minOccurs="0" name="GetHolidaysResult" nillable="true" type="q1:HolidayResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHolidaysFrom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHolidaysFromResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FERC.FOL.HolidayService.Common" minOccurs="0" name="GetHolidaysFromResult" nillable="true" type="q2:HolidayResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHolidayDictionary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHolidayDictionaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetHolidayDictionaryResult" nillable="true" type="q3:ArrayOfKeyValueOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNextBusinessDateWithHolidayList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="NumberOfDate" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="holidaydDictionary" nillable="true" type="q4:ArrayOfKeyValueOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNextBusinessDateWithHolidayListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getNextBusinessDateWithHolidayListResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHoliday">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FERC.FOL.HolidayService.Common" minOccurs="0" name="holiday" nillable="true" type="q5:Holiday" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHolidayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FERC.FOL.HolidayService.Common" minOccurs="0" name="AddHolidayResult" nillable="true" type="q6:HolidayResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHoliday">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FERC.FOL.HolidayService.Common" minOccurs="0" name="holiday" nillable="true" type="q7:Holiday" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHolidayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/FERC.FOL.HolidayService.Common" minOccurs="0" name="UpdateHolidayResult" nillable="true" type="q8:HolidayResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHoliday">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/FERC.FOL.HolidayService.Common" minOccurs="0" name="holiday" nillable="true" type="q9:Holiday" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHolidayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/FERC.FOL.HolidayService.Common" minOccurs="0" name="DeleteHolidayResult" nillable="true" type="q10:HolidayResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>